/* Código para reiniciar bordes y márgenes*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

main {
  margin: 0 auto;
  max-width: fit-content; }

/* Código para el header*/
header .bemus {
  text-decoration: none; }

h1 {color: #019e9e;
    font-family: 'Anton', sans-serif;
    font-size: 35x;}

header .nombrePagina {
  background-color: black;
  text-align: center;
  color: cyan;
  font-family: 'Big Shoulders Stencil Text', cursive;
  font-size: 40px;
  margin: 0; }

header nav ul {
  text-decoration: none;
  list-style: none;
  text-align: center;
  background-color: black;
  margin: 0; }
header nav ul li { display: inline-block;
  }

.fila {
  display: flex;
  flex-direction: row; }

.genero {
  margin: 30px;
  padding: 5px; }

.generos {
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 20px;
  font-family: 'Big Shoulders Stencil Text', cursive; }
  .generos:hover {
    color: chartreuse;
    background-color: #202020; }


/* Código para la sección Novedades del Index*/
main {
  margin-bottom: 60px;
  /* código para la sección promociones*/
  /* código para el botón Volver */ }
  main h2 {
    text-align: center;
    color: #019e9e;
    margin-top: 10px;
    font-family: 'Anton', sans-serif;
    font-size: 25px; }
  main .contenedor {
    display: flex;
    justify-content: center; }
  main .novedades1 {
    margin: 20px auto 0 auto;
    max-width: fit-content; }
  main .novedades2 {
    display: flex;
    justify-content: center;
    margin: 20px auto 0 auto;
    max-width: fit-content; }
  main .ropa {
    margin: 10px 60px; }
  main .fotito {
    opacity: 1;
    transition: ease .5s; }
    main .fotito:hover {
      border: #e7e7e7 1px solid;
      transform: scale(1.03, 1.03); }
  main .fotito2 {
    width: 300px;
    height: 350px;
    margin: 10px 60px;
    transition: ease .5s; }
    main .fotito2:hover {
      border: #e7e7e7 1px solid;
      transform: scale(1.03, 1.03); }
  main .fotito3 {
    width: 300px;
    height: 400px;
    margin: 10px 60px;
    transition: ease .5s; }
    main .fotito3:hover {
      border: #e7e7e7 1px solid;
      transform: scale(1.03, 1.03); }
  main .fotitoo {
    opacity: 1;
    transition: ease .5s; }
    main .fotitoo:hover {
      border: #e7e7e7 1px solid;
      transform: scale(1.03, 1.03); }
  main .carousel {
    justify-content: center; }
  main .carrusel {
    padding: 10px;
    background-color: #c9c9c9; }
  main .carru {
    margin: 0 auto;
    object-fit: cover; }
  main .promo {
    border: #b9714d solid 4px;
    background-color: white;
    padding: 10px;
    margin: 40px auto;
    border-radius: 10px;
    max-width: fit-content; }
    main .promo:hover {
      box-shadow: #9a9c9e 2px 2px 2px 2px;
      border-color: #79ee79;
      border-radius: 10px;
      transition: 0.3s linear; }
  main .tarjeta {
    width: 100px;
    height: 65px;
    padding: 10px;
    transition: ease .5s; }
    main .tarjeta:hover {
      transform: scale(1.2, 1.2); }
  main .volver .boton {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px;
    border: 2px solid lime;
    border-radius: 70px;
    text-align: center;
    margin-top: 20px;
    font-size: 20px; }
    main .volver .boton:hover {
      color: lime;
      text-decoration: none; }
  main .volver {
    display: flex;
    justify-content: center; }
    main .volver a {
      text-decoration: none; }

/* Codigo para la sección Nosotros */
/* Código para el mapa*/
.mapa {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  margin: 20px auto 20px auto; }

/* Código para sección sucursales*/
.texto {
  text-align: center; }

span {
  font-size: 17px; }

h4 {font-size: 20px;}
.cards {
  display: flex;
  flex-direction: row; }

.cards2 {
  width: 15%;
  height: auto;
  border: black 1px solid;
  margin: 10px; }
  .cards2:hover {
    transform: scale(1.03, 1.03);
    box-shadow: chartreuse 5px 5px; }
.card-img-top { width: 100%;
                margin: 0 auto;}

/* Código para la tabla de envíos*/
.tabla {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #d6feff;
  max-width: fit-content;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  border: 1px solid black;
  padding: 5px; 
}

/*codigo para talles*/
h3 {
  color: blue;
  font-family: 'Anton', sans-serif;
  font-size: 25px; }

.grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  align-content: stretch;
  justify-content: stretch;
  width: 100%;
  margin: 0 auto;
  height: 580px;
  grid-template-areas: "Zapatillas Remeras "
 "Pantalones Pantalones ";
  font-family: 'Roboto', sans-serif; }

.Zapatillas {
  width: 100%;
  height: auto;
  border: 1px solid black;
  background-color: #fafafa;
  text-align: center;
  line-height: 50px;
  grid-area: Zapatillas;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.Remeras {
  width: 100%;
  height: auto;
  border: 1px solid black;
  background-color: #e9e9e9;
  text-align: center;
  line-height: 50px;
  grid-area: Remeras;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.Pantalones {
  width: 100%;
  height: auto;
  border: 1px solid black;
  background-color: #c9c9c9;
  text-align: center;
  line-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: Pantalones; }

.letracolor {
  color: blue; }

/* codigo de grid para todas las paginas */
.grid2 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  align-content: stretch;
  justify-content: stretch;
  width: 100%;
  margin: 0 auto;
  height: 580px;
  grid-template-areas: "Headergrid "
 "Maingrid "
 "Footergrid";
  font-family: 'Roboto', sans-serif; }

.Headergrid {
  width: 100%;
  height: auto;
  border: 1px solid black;
  text-align: center;
  line-height: 50px;
  grid-area: Headergrid;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.Maingrid {
  width: 100%;
  height: auto;
  text-align: center;
  line-height: 50px;
  grid-area: Maingrid;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.Footergrid {
  width: 100%;
  height: auto;
  border: 1px solid black;
  text-align: center;
  line-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: Footergrid; }

/* Código para el video*/
.video {
  display: flex;
  justify-content: center;
  margin: 300px auto 20px auto; }

/* Código para el formulario*/
.enviar {
  background-color: lightgrey;
  color: black;
  border: 1px solid black; }

.reset {
  background-color: rgb(169, 93, 255);
  color: black;
  border: 1px solid black; }

.formulario {
  max-width: fit-content;
  display: flex;
  justify-content: center;
  margin: 0 auto 20px auto;
  background-color: #e4ffff;
  border: 2px dotted black; }
  .formulario .form {
    background-color: #d4e3ff; }
  .formulario .formu {
    color: purple;
    font-family: 'Roboto', sans-serif; }
  .formulario #formu {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column; }
  .formulario .cajitas {
    margin: 10px 10px 10px; }
  .formulario legend {
    text-align: center; }
  .formulario #coment {
    width: 200px;
    height: 200px; }

/* Código para las páginas de géneros*/
img {
  width: 230px;
  height: 230px; }
  
.imagen {object-fit: cover;}

.contenedor {
  display: flex;
  justify-content: space-between; }

.flex {
  width: 250px; border: 1px solid rgb(184, 184, 184); margin: 0 5px;}
  .flex p {
    text-align: center; }
    .flex:hover {transform: scale(1.05, 1.05);}

.descripcion {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px; }
  .descripcion:hover {
    transform: scale(1.1, 1.1); }

  .precio {
    font-family: 'Big Shoulders Stencil Text', cursive;
    font-size: 20px;
    color: mediumblue;
    text-align: center;}
    .precio:hover {transform: scale(1.1, 1.1);}

  .comprar {text-decoration: none;
            color: cyan;
            background-color: black;
            padding: 5px;
            border-radius: 20px;}
  .comprar:hover {color: lime;
  background-color: #5e5e5e;}
    
/* Código para el footer*/
  footer {
    background-color: black; }
      .footer {
      list-style: none;
      text-decoration: none;
      color: white;
      display: flex;
      justify-content: center; }
      .contacto {
      padding: 25px; }
      .miniatura {
      width: 40px;
      height: 40px; }
      .miniatura:hover {
      transform: scale(1.2, 1.2); }
      .red0 {
      color: #09b409;
      text-decoration: none; }
      .red1 {
      color: #2b6eff;
      text-decoration: none; }
      .red2 {
      color: #00b8d8;
      text-decoration: none; }
      .red3 {
      color: #bb2dfd;
      text-decoration: none; }
      .red0:hover {
      color: lime; }
      .red1:hover {
      color: lime; }
      .red2:hover {
      color: lime; }
      .red3:hover {
      color: lime; }
      .fila2 {
      display: flex;
      flex-direction: row; }
      #contacto {
      text-align: center;
      color: #019e9e;
      padding-top: 10px;
      font-family: 'Anton', sans-serif;
      letter-spacing: 2px;}
      footer ul li {list-style: none;
      display: inline-block;}
    
/* Código para media queries */ 
  @media (max-width: 1280px) {
    .fila {
      display: flex;
      flex-direction: column; }
    .nav ul {
      display: flex;
      flex-direction: column; }
    .novedades1 {
      display: flex;
      flex-direction: row; }
    .novedades2 {
      display: flex;
      flex-direction: row; }
    .novedades3 {
      display: flex;
      flex-direction: row; }
    .contenedor {
      display: flex;
      flex-direction: column; } }
  @media (max-width: 920px) {
    .flex {margin: 7px 0px;}
    .fila2 {display: flex; 
      flex-direction: column; 
      justify-content: center;}}
  @media (max-width: 770px) {
    .promo {
      overflow: scroll; }
    .grid {
      margin: 0 auto 300px auto; } 
    .nav ul {
      display: flex;
      flex-direction: column; }
    }
  @media (max-width: 545px) {
    .novedades1 {
      display: flex;
      flex-direction: column; }
    .novedades2 {
      display: flex;
      flex-direction: column; }
    .novedades3 {
      display: flex;
      flex-direction: column; }
    .fila2 {
      display: flex;
      flex-direction: row;
      justify-content: center; }
    .grid {
      margin: 0 auto 600px auto; }
    .grid2 {
      display: inline; }
    .video {
      margin-top: 10px; }
    .cards {
      display: flex;
      flex-direction: column; }
    .cards2 {
      width: 90%; } 
    footer ul li {display: flex; flex-direction: column;}
}
  @media (max-width: 415px) {
    .grid {
      margin: 0 auto 600px auto; }
    .video {
      margin-top: 10px; }
}
  @media (max-width: 376px) {
    .grid {
      margin: 0 auto;
      display: inline; }
    .video {
      margin-top: 30px; }
}
  @media (max-width: 285px) {
    .generos {
      font-size: 15px; }
    .grid {
      margin: 0 auto;
      display: inline; }
    .video {
      margin-top: 30px; }
    .fotito2 {
      margin: 0;
      width: 100%; }
    .fotito3 {
      margin: 0;
      width: 100%; }
}


.flecha {width: 35px; height: 35px; bottom: 5px; right: 5px; position: fixed; opacity: 0.8;} 

.flecha:hover { opacity: 1;}