footer {background-color: black;
    .footer {
        list-style: none;
        text-decoration: none;
        color: white;
        display: flex;
        justify-content: center;
    }
    footer ul li {list-style: none;
        display: inline-block;}
    .contacto {
        padding: 25px
    }
    .miniatura {width: 40px; height: 40px;
        &:hover {transform: scale(1.2, 1.2);}
    }
    .red0 {color: rgb(9, 180, 9); text-decoration: none;}
    .red1 { color: #2b6eff; text-decoration: none;}
    .red2 { color: rgb(0, 184, 216); text-decoration: none;}
    .red3 { color: #bb2dfd; text-decoration: none;}
    .red0:hover {color: lime; }
    .red1:hover {color: lime; }
    .red2:hover {color: lime; }
    .red3:hover {color: lime; }

    .fila2 {display: flex; flex-direction: row;}

    #contacto { text-align: center;
        color: rgb(1, 158, 158);
        padding-top: 10px;
        font-family: 'Anton', sans-serif;
        letter-spacing: 2px;
    }
}